@model Person

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-6">
        <br />
        <h2>Add New Actor, producer or wrtier</h2>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="Img" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Img" class="control-label">Image</label>
                <input type="file" name="Img" class="form-control-file" />
            </div>
            <div class="form-group">
                <label class="control-labe">Birth Date</label>
                <input type="date" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="control-label">Biography</a>
                <textarea asp-for="Biog" id="markdown" class="form-control markdown-autosize"></textarea>
                <span asp-validation-for="Biog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-outline-primary" />
            </div>
        </form>

        
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
